/* Main navbar */


.navbar-wagon-item a {
  text-decoration: none;
  font-size: 16px;
  font-weight: lighter;
  color: $light-gray;
  margin-right: 20px;
  text-transform: uppercase;
}

.navbar-wagon-item a:hover {
 cursor:pointer;
 text-decoration: none;
 border-bottom: 1px solid;
}


.links a {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

#facebook {
  border: solid 2px;
      padding: 6px 7px 4px 11px;
      border-radius: 50%;
}

#instagram {
      border: solid 2px;
    padding: 6px 7px 4px 7px;
    border-radius: 50%;
}
.links a:hover {
  cursor:pointer;
  text-decoration: none;
}

.navbar-wagon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.navbar-wagon span {
      margin-top: 10px;
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 1px;
    box-shadow: 0 1px 0 rgba(0,0,0,.3);
}
/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
