// desktop

@media screen and (min-width: 700px) {

  // full page
  .full-page-about {
    display: flex;
    flex-direction: row;
  }

  // right-bar
  #hidden-on-desktop {
    display: none;
    height: 0;
    margin: 0;
    width: 0;
  }

  #slides {
    position: relative;
    height: 100vh;
    width: 70%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    z-index: -1;
  }

  .slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    background-position: center center;
    background-size: cover;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }

  .showing {
    opacity: 1;
    z-index: 2;
  }

  // left-bar

  .not-visible {
    visibility: hidden;
    display: none;
    height: 0;
    margin: 0;
  }

  .flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .minor-information {
  //   font-size: 14px;
  // }

  .banner-element {
    text-align: center;
    background-color: $green;
    // background-color: $black;
    width: 30%;
    position: sticky;
    left: 0;
    height: 100vh;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .links {
      display: flex;
      min-height: 60px;
    }
  }

  .links a:hover {
    cursor:pointer;
    text-decoration: none;
  }

  .central-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: auto;
    margin-top: auto;
  }

  #logo {
    margin: 0 11px 11px 11px;
  }

  .presentation p {
    margin: 0;
    // font-size: 21px;
  }

  .opening-info {
    overflow-wrap: break-word;
    margin: auto;
    // padding: 0% 10%;
    // margin-top: 10px;
  }

  #fb-msg {
    background: white;
    border-radius: 10px;
    padding: 3px 7px;
    color: $green;
    font-weight: lighter;
    box-shadow: rgba(0,0,0,0.60) 1px 1px 5px;

    &:hover {
      padding: 6px 14px;
      transition-duration: 0.05s;
    }
  }

  .information {
    width: 100%;
  }

  .green {
    color: $green;
  }

  .white {
    color: $white;
    font-weight: lighter;
  }

  .shadow {
    text-shadow: $black 1px 1px 1px;
  }

  .no-bottom-margin {
    // margin-bottom: 0;
  }

  #under-fb-link {
    margin-top: 10%;
  }

  .green-line {
    border: solid $green 1px;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .white-line {
    border: solid $white 1px;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: rgba(0,0,0,0.7) 1px 1px 1px;
  }

  .smaller {
    font-size: 14px;
    overflow-wrap: break-word;
    margin-bottom: 0;
  }

  .bigger {
    font-size: 16px;
  }

  p.bigger {
    margin-bottom: 0;
  }

  .small-image {
    height: 30px;
    background-color: white;
    padding: 3px;
  }

  a:hover {
    text-decoration: none !important;
  }

  .more-info img {
    margin: 5px;
  }
  .fb-page {
    position: absolute !important;
    right: 0;
    z-index: 1;
    bottom: 0;
  }
  .fb_iframe_widget {
    display: inline-block;
  }

  #signature {
    font-size: 10px;
    color: white;
    opacity: 0.7;
    position: absolute;
    bottom: 10px;

    a {
      color: #e8e896;
      opacity: 0.7;
      &:hover {
        text-decoration: none;
        color: #e8e896;
        opacity: 0.7;
      }


    }

  }
}

//mobile

@media screen and (max-width: 700px) {

// // full page
//   .full-page {
//     display: flex;
//     flex-direction: column;
//   }

//   // right-bar
//   .right-side {
//     min-height: 300px;
//   }

  .hidden-on-mobile {
    display: none;
  }

//   .right-image {
//     background-position: center center;
//     // height: 100vh;
//     // width: 70%;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-image: linear-gradient(90deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 100%), url(images/fond-2.jpg);
//   }

  // left-bar
  .not-visible {
    visibility: hidden;
    display: none;
    height: 0;
    margin: 0;
  }


  .banner-element {
    text-align: center;
    background-color: $green;
    // background-color: $black;
    padding: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

    .links {
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-right: auto;
      margin-bottom: 5px;
      display: flex;
      flex-direction: row;
    }

    .links a {
      color: $green;
      border: none;
    }
  }

  #facebook {
    border: none;
    color: $green;
    margin: 5px;
  }

  #instagram {
    border: none;
    color: $green;
    margin: 5px;
  }

  .central-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .banner-element  img {
      margin-bottom: 15px;
    }

  .presentation p {
    margin: 0;
    font-size: 23px;
  }

  .opening-info {
    color: $green;
    overflow-wrap: break-word;
    margin: auto;
  }

  .information {
    width: 100%;
  }

  .half-width {
    width: 50%;
  }

  #messenger {
    width: 60%;
  }

  #about-link {
    visibility: hidden;
  }
  // about page

  #section2 {
    display: flex;
  }

  .left {
    text-align: center;
    /* margin: auto; */
    margin-top: 12em;
    padding-left: 10%;
    padding-right: 10%;

    h2 {
      font-size: 24px;
    }
  }

  .right {
    margin:auto;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .right-photo {
    height: 10em;
    width: 10em;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
  }

  .green {
    color: $green;
  }

  .white {
    color: $white;
    font-weight: lighter;
  }

  .green-line {
    border: solid $green 1px;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .smaller {
    font-size: 14px;
    overflow-wrap: break-word;
  }

  .bigger {
    font-size: 18px;
  }

  p.bigger {
    margin-bottom: 10px;
  }

  .information a {
    background: $light-gray;
    border-radius: 10px;
    padding: 5px 10px;
    color: $green;
    font-weight: lighter;
  }

  .small-image {
    height: 40px;
  }

  // right bar

  .full-page-about {
    display: flex;
    flex-direction: column;
  }

  #slides {
      position: relative;
      height: 300px;
      width: 100%;
      padding: 0px;
      margin: 0px;
      list-style-type: none;
  }

  .slide {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
      background-position: center center;
      background-size: cover;

      -webkit-transition: opacity 1s;
      -moz-transition: opacity 1s;
      -o-transition: opacity 1s;
      transition: opacity 1s;
  }

  .showing {
      opacity: 1;
      z-index: 2;
  }

  #hidden-on-desktop {
    position: relative;
  }

  .fb-page {
    position: absolute !important;
    right: 0;
    z-index: 1;
    bottom: 0;
  }

  .white-line {
    border: solid $white 1px;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: rgba(0,0,0,0.7) 1px 1px 1px;
  }

  .shadow {
    text-shadow: $black 1px 1px 1px;
  }
}
