<div class="banner-element">
  <!-- <div class="banner-content"> -->
    <h1 class="not-visible">Montcalm, cuisine et cave à vins - Paris 18ème</h1>
    <div class="central-part">
      <%= image_tag('tampon-montcalm-titre-ok.png', width: "100%") %>
      <div class="green-line"></div>
      <div class="presentation">
        <p class="white">cuisine</p>
        <p class="green">&</p>
        <p class="white">cave</p>
      </div>
      <div class="green-line"></div>
      <div class="information">
        <p class="white">21 rue Montcalm 75018 Paris</p>
        <p class="white" id="opening-info">ouvert du mardi au samedi, midi et soir</p>
      </div>
      <div class="green-line hidden-on-mobile"></div>
      <div class="information hidden-on-mobile">
        <p class="white bigger">réservations :</p>
        <p class="green smaller">( 10h - 16h // 19h - 23h )</p>
        <p class="white">01 42 58 71 35</p>
        <a href="#" id="fb-msg">
          ou par Facebook
        </a>
      </div>
      <div class="green-line hidden-on-mobile"></div>
      <div class="about-us hidden-on-mobile">
        <p class="white bigger">Ils parlent de nous</p>
        <a href="https://restaurant.michelin.fr/3615756/montcalm-paris-18"><img alt="Montcalm restaurant - Guide Michelin 2018" src="images/guide-michelin.jpg" class="small-image"/></a>
        <a href="http://www.lebey.com/fr/les-adresses/bistrot/montcalm"><img alt="Montcalm restaurant - Guide Lebey 2018" src="images/guide-lebey.jpeg" class="small-image"/></a>
      </div>
      <div class="green-line hidden-on-mobile"></div>
      <div class="links hidden-on-mobile">
        <a href="https://www.facebook.com/pg/montcalmrestaurant/" class= "hidden-on-mobile" id="facebook" target="_blank">
          <!-- <i class="fab fa-facebook-f"></i> -->
          <%= image_tag('facebook-blanc.png', height: 40) %>
        </a>
        <a href="https://www.instagram.com/montcalm_restaurant/" class= "hidden-on-mobile" id="instagram" target="_blank">
          <%= image_tag('instagram-blanc.png', height: 40) %>
          <!-- <i class="fab fa-instagram"></i> -->
        </a>
      </div>
    </div>
</div>

