<div class="banner-element">
  <!-- <div class="banner-content"> -->
    <div class="links">
      <a href="https://www.facebook.com/pg/montcalmrestaurant/" id="facebook" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.instagram.com/montcalm_restaurant/" id="instagram" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <div class="central-part">
      <%= image_tag('montcalm-titre.png', width: "100%") %>
      <div class="presentation">
        <p>cuisine</p>
        <p>&</p>
        <p>cave à vins</p>
      </div>
      <div class="information">
        <p id="opening-info">ouvert du mardi au samedi, midi et soir</p>
        <p>21 rue Montcalm 75018 Paris</p>
        <p>réservations : 01 42 58 71 35</p>
        <%= image_tag("messenger.png", id:"messenger") %>
      </div>
    </div>
    <%= link_to "à propos", "#", id:"about-link" %>
  <!-- </div> -->
</div>
