<div class="banner-element">
  <!-- <div class="banner-content"> -->
    <div class="links">
      <a href="https://www.facebook.com/pg/montcalmrestaurant/" id="facebook" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.instagram.com/montcalm_restaurant/" id="instagram" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <h1 class="not-visible">Montcalm, cuisine et cave à vins - Paris 18ème</h1>
    <div class="central-part">
      <%= image_tag('montcalm-titre-blanc.png', width: "100%") %>
      <div class="green-line"></div>
      <div class="presentation">
        <p class="white">cuisine</p>
        <p class="green">&</p>
        <p class="white">cave</p>
      </div>
      <div class="green-line"></div>
      <div class="information">
        <p class="white">21 rue Montcalm 75018 Paris</p>
        <p class="white" id="opening-info">ouvert du mardi au samedi, midi et soir</p>
      </div>
      <div class="green-line"></div>
      <div class=information>
        <p class="white bigger">réservations</p>
        <p class="green smaller">( 10h - 16h // 19h - 23h )</p>
        <p class="white">01 42 58 71 35</p>
        <a href="https://m.me/montcalmrestaurant">
          Message us on Facebook
        </a>
      </div>
    </div>
</div>
