<div class="navbar-wagon">
  <!-- Logo -->
  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item" data-toggle="dropdown">
    <a href="#">Contact</a>
    <a href="#about">à propos</a>
  </div>

  <div class="links">
    <a href="https://www.facebook.com/pg/montcalmrestaurant/" id="facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://www.instagram.com/montcalm_restaurant/" id="instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <!-- <a href="https://www.facebook.com/pg/montcalmrestaurant/">
    <%#= image_tag("facebook-blanc.png", height:40, class:"navbar-logo") %>
    </a>
    <a href="https://www.instagram.com/montcalm_restaurant/">
      <%#= image_tag("instagram-blanc.png", height:40, class:"navbar-logo") %>
    </a> -->
  </div>

    <%#= image_tag("tampon-montcalm.png", height: 60, class:"navbar-logo") %>

</div>
