<div>
  <div>
    <h1>à propos du montcalm</h1>
    <p>Installés au bas de la Butte Montmartre, William et Guillaume accueillent leur clientèle sur fonds de hip hop pour un moment convivial et sans prétention. </p>
    <p>La carte courte qui change tous les jours, au gré des arrivages de Rungis et des inspirations de William.</p>
    <p>Côté cave, Guillaume déniche des petits vignerons qu’il se fait un devoir de faire découvrir aux gourmands qui franchissent la porte.</p>
    <h3>Un bon coup de fourchette,
      un solide jeté de coude
      ou les deux !</h3>
  </div>
  <div>
    <div class="right-photo" style="background-image: url(images/section2-photo1.png)"></div>
    <div class="right-photo" style="background-image: url(images/section2-photo2.png)"></div>
    <div class="right-photo" style="background-image: url(images/section2-photo3.png)"></div>
    <div class="right-photo" style="background-image: url(images/section2-photo4.JPG)"></div>
    <div class="right-photo" style="background-image: url(images/section2-photo5.jpg)"></div>
    <div class="right-photo" style="background-image: url(images/section2-photo6.png)"></div>
  </div>
</div>
