---
title: Montcalm restaurant - Paris 18ème
---
<div class="full-page">
    <%= partial "shared/left-bar" %>
    <%= partial "shared/right-bar" %>

</div>


<!-- <section class="wrapper" style="background-image: linear-gradient(90deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 100%), url(images/fond-2.jpg)">
<script>
  let imageId = 0;
  function changeWrapper() {

    if(!imageId){
      document.querySelector(".wrapper").style.backgroundImage = "linear-gradient(90deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 100%), url(images/fond-1.jpg";
      imageId++;
    }
    else if (imageId == 1){
      document.querySelector(".wrapper").style.backgroundImage = "linear-gradient(90deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 100%), url(images/fond-2.jpg";
      imageId++;
    }
    else if(imageId == 2){
      document.querySelector(".wrapper").style.backgroundImage = "linear-gradient(90deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 100%), url(images/fond-3.jpg";
      imageId = 0;
    }
  }
  window.setInterval(changeWrapper, 5000);

</script> -->
  <%#= partial "shared/navbar" %>
  <!-- <div class="banner-element">
    <div class="banner-content">

      <%#= image_tag('montcalm-titre.png', width: "65%") %>
      <div class="presentation">
        <p>cuisine de marché</p>
        <p>produits frais</p>
        <p>vins généreux</p>

      </div>
      <div class="information">
        <p>21 rue Montcalm 75018 Paris</p>
        <p>réservations : 01 42 58 71 35</p>
        <p id="opening-info">ouvert du mardi au samedi, midi et soir</p>

      </div>
    </div>

  </div> -->
<!-- </section>
 -->



<!-- linear-gradient(90deg, rgba(255,255,255,0.4) 0%, rgba(253,255,255,0.1) 100%) -->
